# =============================
# Java build outputs
# =============================
JDBC-Practice/bin/
**/bin/
**/out/
**/build/
**/target/

# =============================
# Java class files
# =============================
*.class

# =============================
# Logs
# =============================
*.log

# =============================
# IDE - IntelliJ
# =============================
.idea/
*.iml

# =============================
# System files
# =============================
.DS_Store
Thumbs.db
desktop.ini

# =============================
# JAR handling
# =============================
# Keep all JARs in /lib (important!)
!JDBC-Practice/lib/*.jar

# Ignore jars only in build output (if they ever appear)
dist/*.jar
build/*.jar
out/*.jar
target/*.jar

# Added in week3 (start of Spring Boot)

# =============================
# VSCode
# =============================
# DO NOT ignore .vscode/ because you need settings.json
!.vscode
# ignore it in subdirectories
**/.vscode/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## Testing apps, no need to upload to git
**/dbtest
**/first
pitanja.txt